* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.title {
    text-align: center;
    font-size: 2rem;
}

.product_details {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;  
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.product_image {
    display: block;
    width: 50%;
    max-width: 600px;
    border-radius: 10px;
    object-fit: cover;
}

.product_info {
    width: 50%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product_title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product_description {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.product_price {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product_features {
    margin: 10px 0 20px 0;
    padding: 0 20px;
    font-size: 1.2rem;
}

.add_to_cart {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
}

.add_to_cart:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 0 1px black inset;
    transition: 0.3s
}

@media (max-width: 768px) {
    .product_details {
        flex-direction: column;
        align-items: center;
    }

    .product_image {
        width: 100%;
        height: auto;
    }

    .product_info {
        width: 100%;
        text-align: center;
    }
}