
    <p class="footer_text">© 2025 ConectaTech. Todos los derechos reservados.</p>
    <p class="footer_text">Desarrollado por Jesús Rico</p>
    <div class="footer_social_container">
        <a href="https://www.facebook.com">
            <img src="../assets/icons/facebook.png" alt="Logo de Facebook" class="footer_social_image" width="36px">
        </a>
        <a href="https://www.linkedin.com" target="_blank">
            <img src="../assets/icons/linkedin.png" alt="Logo de LinkedIn" class="footer_social_image" width="36px">
        </a>
        <a href="https://www.twitter.com" target="_blank">
            <img src="../assets/icons/twitter.png" alt="Logo de Twitter" class="footer_social_image" width="36px">
        </a>
    </div>