    <nav class="menu_bar" id="menu">
        <img src="https://edteam-media.s3.amazonaws.com/users/avatar/d37cb50d-3f61-455b-a697-fb957022a809.png" alt="" class="menu_logo">
        <img src="../assets/icons/ConectaTech_logo.svg" alt="icono de despliegue de menu" class="menu_toggle_icon">
        <div class="menu_toggle_container" id="menu_toggle">
            <ul class="menu_toggle_list">
                <li><a class="menu_toggle_option" href="/home">Inicio</a></li>
                <li><a class="menu_toggle_option" href="/about">Acerca de</a></li>
                <li><a class="menu_toggle_option" href="/services">Productos</a></li>
                <li><a class="menu_toggle_option" href="/contact">Contactanos</a></li>
            </ul>
        </div>
        <ul class="menu_list">
            <li><a class="menu_option" href="/home">Inicio</a></li>
            <li><a class="menu_option" href="/about">Acerca de</a></li>
            <li><a class="menu_option" href="/services">Productos</a></li>
            <li><a class="menu_option" href="/contact">Contactanos</a></li>
            <li id="close_menu">Cerrar</li>
        </ul>
    </nav>